@page
@using LogInPrefab.Controllers
@using LogInPrefab.Models
@model LogInPrefab.Pages.UserPages.ThanksForRegisteringModel
@{
                
}

<div class="container">
    <h1> Thanks for registering @Model.UserName</h1>
    <div>
    </div>
</div>

